body {
  background: white;
}
.card {
  width: 20rem;
  height: 48rem;
}
.card:hover {
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253);
}
.card-body {
  padding: 3rem 0 !important;
}
.card-title {
  padding-top: 1rem;
}
.card-text {
  font-size: 0.9rem;
  padding: 0.4rem 1.9rem;
}
.container-fluid .row {
  padding-top: 6rem;
}
