body {
  background: white;
}
.card-service {
  width: 20rem;
  padding: 1rem 0 !important;
}
.card:hover {
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253);
}

.card-title {
  padding-top: 1rem;
}
.card-text {
  font-size: 0.9rem;
  padding: 0.4rem 1.9rem;
}
