.bi {
  font-size: larger;
  margin-right: 5px;
}

.card-text{
  padding: 0.25rem !important;
}

.card{
  margin: 0px 0.75rem !important;
  padding: 0.25rem !important;
}

.card-body{
  padding: 0.5rem !important;
}