// Here you can add other styles
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css');

body {
  color: $primary-dark;
}

.header-spacing {
  margin-bottom: 7rem !important;
}

.customer-content {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.short-text {
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.navbar {
  --cui-navbar-padding-x: 0;
  --cui-navbar-padding-y: 0;
}

.nav-link {
  font-size: 18px;
  color: $primary;
}

.navbar-nav {
  --cui-nav-link-hover-color: #0dcaf0;
}

// Button
.btn-primary {
  --cui-btn-hover-color: #087990;
  --cui-btn-hover-bg: #ffffff;
  --cui-btn-hover-border-color: #21869b;
}

.btn-outline-primary {
  --cui-btn-hover-color: #ffffff;
}

.button-spacing {
  padding: 0.5rem 1rem !important;
}

// Intro section
.intro-section {
  background-image: linear-gradient(rgb(8, 121, 144, 0.5), rgb(8, 121, 144, 0.5)),
    url('../assets/images/bg.jpg');
  background-position: center;
  color: white;
  text-align: center;
}

// Footer
.footer-background {
  background-color: #054856;
  color: #ffffff;
}

// Profile

.side-button {
  margin-bottom: 2px;
  padding: 8px 6px;
  text-align: end;
  font-size: large;
  font-weight: 500;
  border-radius: 25px 0px 0px 25px;
  box-shadow: #1f1f20 0px 3px;
  border: 0;
  background-color: #064c5b;
  color: rgb(206, 206, 206);
}

.side-button-active {
  background: #fff;
  color: black;
}

.side-bar {
  border-radius: 25px;
  background-color: #032830;
}
